body {
   background-color: bisque;
   font-family: 'Roboto', sans-serif;

}

.mission-planning {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   margin: 4rem 2rem;
   width: 38rem;
   position: fixed;
}

.mission-planning h1 {
   font-weight: 700;
   height: .6rem;
   margin-bottom: 4rem;
}

.mission-planning p {
   margin-bottom: 2rem;
   color: #585858;
   max-width: 100%;
}


.mission-planning__form {
   display: flex;
   background: #ffecd5;
   padding: 1rem;
   width: 29rem;
   justify-content: center;
   align-items: center;
}

.mission-planning__form_inputs {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1.3rem;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: flex-start;
}

.compare__form {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-direction: column;
   margin-top: 2rem;
}

.input-group {
   /* display: flex; */
   /* justify-content: flex-start; */
   /* flex-direction: column; */
   /* flex: 50%; */
   width: 100%;
}

.input-group:not(:root){
   margin-bottom: 1rem;
   margin-left: .4rem;
}

.input-group label {
   margin-bottom: 1rem;
   margin-right: 2rem;
   display: flex;
   /* align-items: center; */
}

.input-group label svg {
   width: 1.2rem;
   margin-right: .3rem;
}

.input-color, input[type="color"] {
   padding: 0 !important;
   height: 4rem;
   background: none;
   width: 14rem !important;
   border: none !important;

}

.input  {
   width: 12rem;
   padding: 1.3rem 1rem;
   border-radius: 0rem;
   border: 1px solid #fefefe;
   outline: #f00;
   font-size: 1rem;
}



.mission-planning__form__algorithm-inputs {
   display: flex;
   flex-direction: row;
   border-bottom: 1px solid #0000000a;
   margin-bottom: 1rem;
}

.algorithms-config {
   display: flex;
   flex-direction: column;
}

.algorithms-config h3 { 
   margin-left: .5rem;
}

.mission-planning__form__algorithm-inputs--elements {
   display: flex;
}




.compare__button {
   flex: 1;
   padding: 1.2rem 2rem;
   width: inherit;
   border: none;
   background: #161616;
   font-size: 1rem;
   color: #fff;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all .2s;
}

.compare__button:hover {
   opacity: .8;
}
.compare__button:active {
   background-color: rgb(48, 48, 48);
}


.compare__button svg {
   width: 1rem;
   fill: #fff;
   margin-right: .3rem;
}

.algorithms_results {
   display: flex;
   justify-content: space-between;
   position: absolute;
   top: 0;
   right: 0;
   flex-direction: column;
   align-items: flex-end;
   width: 55rem;
}


.algorithms_results__result {
   display: flex;
   flex-direction: column;
   width: inherit;
}

.algorithms_results img {
   width: 100%;
}

.algorithms_results__result p {
   width: 84%;
}


.color_switcher {
   padding-bottom: .3rem;
   border-bottom: 1px solid #6c6c6c2a;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.color_switcher a {
   cursor: pointer;
   font-weight: 700;
   transition: all .2s;
   font-size: 2rem;
}

.color_switcher a:hover {
   opacity: .4;
}


.color_switcher a:not(:first-child) {
   margin-left: 1rem;
}